.App {
  font-family: sans-serif;
  text-align: center;
}

.title {
  text-align: center;
}

.weather {
  font-size: 2em;
  color: black;
  font-family: sans-serif;
  font-weight: 600;
  text-shadow: 3px 3px 6px gray;
  cursor: pointer;
  text-align: center;
}

.center {
  text-align: center;
  list-style-type: none;
}

body {
  background: rgba(0, 0, 0, 0);
}

.italicize {
  font-style: italic;
}